// Bootstrap Buttons
#g-page-surround, #g-offcanvas {
	.btn {
		display: inline-block;
		padding: 1rem 2rem;
		border-radius: $core-border-radius;
		color: $base-text-color;
		background: transparent;
		border: 1px solid lighten($base-text-color,15%);
		line-height: $core-line-height;
		font-size: $fontsizes-body-font-size;
		vertical-align: middle;
		text-shadow: none;
		box-shadow: none;
		text-align: center;
		@include transition(all 0.2s);
		&:hover {
			background: $base-text-color;
			color: $white;
			border-color: $base-text-color;
		}
		&:active, &:focus {
			background: $base-text-color;
			color: $white;
		}
		&.btn-primary {
			color: $white;
			background: $accent-color-1;
			@include linear-gradient(to bottom, $accent-color-1, $accent-color-2);
			border-color: $accent-color-1;
			&:hover, &:active, &:focus {
				background: darken($accent-color-1,15%);
				border-color: darken($accent-color-1,15%);
			}
		}
		&.btn-info {
			color: $accent-color-1;
			background: transparent;
			border-color: $accent-color-1;
			&:hover, &:active, &:focus {
				color: $white;
				background: $accent-color-1;
			}
		}
		&.btn-success {
			color: $white;
			background: #2ecc71;
			border-color: #2ecc71;
			&:hover, &:active, &:focus {
				background: lighten(#2ecc71,10%);
				border-color: lighten(#2ecc71,10%);
			}
		}
		&.btn-warning {
			color: $white;
			background: #f39c12;
			border-color: #f39c12;
			&:hover, &:active, &:focus {
				background: lighten(#f39c12,10%);
				border-color: lighten(#f39c12,10%);
			}
		}
		&.btn-danger {
			color: $white;
			background: #c0392b;
			border-color: #c0392b;
			&:hover, &:active, &:focus {
				background: lighten(#c0392b,10%);
				border-color: lighten(#c0392b,10%);
			}
		}
		&.btn-inverse {
			color: $white;
			background: #2c3e50;
			border-color: #2c3e50;
			&:hover, &:active, &:focus {
				background: lighten(#2c3e50,10%);
				border-color: lighten(#2c3e50,10%);
			}
		}
		&.btn-link {
			color: $accent-color-1;
			background: transparent;
			border: none;
			padding: initial;
			&:hover, &:active, &:focus {
				color: darken($accent-color-1, 15%);
			}
		}
	}
	.btn-group {
		> .btn {
			border-radius: 0;
		}
		> .btn:first-child {
			@include border-left-radius($core-border-radius);
		}
		> .btn:last-child {
			@include border-right-radius($core-border-radius);
		}
	}
}

#g-page-surround {
	.g-article-header {
		.icons {
			.btn-group {
				.btn {
					color: $white;
				}
				> .btn:first-child {
					border-radius: $core-border-radius;
				}
			}
		}
	}
}